* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}

header {
  display: flex;
  height: 64px;
  border-bottom: solid 1px rgb(173, 173, 173);
  justify-content: space-between;
  padding-left: 50px;
  padding-right: 50px;

  .google-fonts-title {
    display: flex;
    align-items: center;
    h1 {
      font-size: 22px;
      font-weight: normal;
      opacity: 0.8;
    }
    .google-logo {
      background-image: url(https://www.gstatic.com/images/branding/googlelogo/1x/googlelogo_dark_color_74x24dp.png);
      width: 74px;
      height: 24px;
      opacity: 0.6;
      position: relative;
      bottom: -1px;
    }
  }

  nav {
    ul {
      display: flex;
      list-style: none;
      line-height: 64px;
      li {
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
        opacity: 0.8;
        a {
          text-decoration: none;
          &:visited {
            color: black;
          }
        }
      }
    }
  }
}

.search-bar-container {
  max-width: 1600px;
  margin: 0 auto;
}
.search-bar {
  display: grid;
  grid-template-columns: 50px 2fr 2fr 150px 100px 60px 60px;
  place-items: center;
  height: 43px;
  width: 90%;
  margin: 30px auto;
  padding: 0;
  border: solid rgb(173, 173, 173) 1px;
  border-radius: 30px;
  input {
    width: 100%;
    height: 100%;
    border: none;
    border-right: solid rgb(173, 173, 173) 1px;
    padding-left: 10px;
  }
  select {
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border-right: solid rgb(173, 173, 173) 1px;
  }
  .background-chooser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: solid rgb(173, 173, 173) 1px;
    .fa-circle {
      margin-right: 7px;
    }
  }
  .list-grid-chooser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: solid rgb(173, 173, 173) 1px;
  }
  .fa {
    font-size: 22px;
    color: rgb(68, 68, 68);
    &:hover {
      cursor: pointer;
    }
  }
  .fa-search:hover {
    cursor: auto;
  }
}

footer {
  text-align: center;
  font-size: 14px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}
