* {
  padding: 0;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

html {
  scroll-behavior: smooth;
}

.google-fonts-title {
  display: flex;
  align-items: center;
  h1 {
    font-size: 22px;
    font-weight: normal;
    opacity: 0.8;
  }
  .google-logo {
    width: 74px;
    height: 24px;
    position: relative;
    bottom: -1px;
  }
}

header {
  display: flex;
  height: 64px;
  border-bottom: solid 1px rgb(173, 173, 173);
  justify-content: space-between;
  padding-left: 70px;
  padding-right: 50px;
  position: relative;

  nav {
    .fa-navicon {
      position: absolute;
      left: 24px;
      top: 18px;
      cursor: pointer;
      font-size: 23px;
      display: none;
    }
    ul {
      display: flex;
      list-style: none;
      line-height: 64px;
      li {
        margin-left: 20px;
        margin-right: 20px;
        font-weight: bold;
        opacity: 0.8;
        a {
          text-decoration: none;
        }
      }
    }
  }
}

.side-drawer {
  height: 100vh;
  width: 300px;
  max-width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: white solid 1px;
  z-index: 200;
  transform: translateX(-100%);
  transition: transform 0.3s ease-out;
  .google-fonts-title {
    margin-top: 18px;
    margin-bottom: 12px;
    margin-left: 20px;
    h1 {
      position: relative;
      bottom: 1px;
    }
  }
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    margin-left: 35px;
  }
  li {
    margin: 10px 0;
  }
  a {
    text-decoration: none;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
}

.search-bar-container {
  max-width: 1600px;
  margin: 0 auto;
}
.search-bar {
  display: grid;
  grid-template-columns: 50px 2fr 2fr 150px 50px 50px 50px;
  place-items: center;
  height: 43px;
  width: 90%;
  margin: 30px auto;
  padding: 0;
  border: solid rgb(173, 173, 173) 1px;
  border-radius: 30px;
  input {
    width: 100%;
    height: 100%;
    border: none;
    border-right: solid rgb(173, 173, 173) 1px;
    padding-left: 10px;
  }
  select {
    border: none;
    height: 100%;
    width: 100%;
    padding-left: 10px;
    border-right: solid rgb(173, 173, 173) 1px;
    cursor: pointer;
  }
  .background-chooser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: solid rgb(173, 173, 173) 1px;
    .fa-circle {
      font-size: 25px;
    }
  }
  .list-grid-chooser {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-right: solid rgb(173, 173, 173) 1px;
  }
  .fa {
    font-size: 22px;
    &:hover {
      cursor: pointer;
      opacity: 0.7;
    }
  }
  .fa-search:hover {
    cursor: auto;
  }
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fontcards-container {
  max-width: 1600px;
  margin: 0 auto 200px auto;
}
.fontcards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  width: 90%;
  margin: 30px auto;
}
.fontcard {
  border-top: rgb(173, 173, 173) solid 1px;
  width: 100%;
  min-height: 200px;
  padding: 15px 5px;
  animation: opacity-in 0.5s ease-in;
  overflow: hidden;
  word-wrap: break-word;
  .font-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }
  .fa {
    color: rgb(255, 86, 86);
    font-size: 22px;
    cursor: pointer;
  }
}

.to-top {
  height: 60px;
  width: 60px;
  position: fixed;
  right: 80px;
  bottom: 80px;
  border: solid rgb(214, 214, 214) 1px;
  border-radius: 50%;
  box-shadow: 2px 2px 5px rgb(173, 173, 173);
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  &:hover {
    cursor: pointer;
    background: rgb(214, 214, 214);
  }
  .fa {
    font-size: 30px;
    color: rgb(95, 95, 95);
  }
}

footer {
  text-align: center;
  font-size: 14px;
  background: white;
  padding-top: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  a {
    color: rgb(255, 86, 86);
    &:visited {
      color: rgb(255, 86, 86);
    }
  }
}

@media only screen and (max-width: 1600px) {
  .fontcards {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1280px) {
  .search-bar {
    grid-template-columns: 50px 2fr 2fr 70px 50px 50px 50px;
  }
  .fontcards {
    grid-template-columns: 1fr 1fr;
  }
  .fa-navicon {
    display: none;
  }
  .to-top {
    right: 22px;
  }
}

@media only screen and (max-width: 1036px) {
  header {
    nav {
      .fa-navicon {
        display: block;
      }
      ul {
        display: none;
      }
    }
  }
}

@media only screen and (max-width: 660px) {
  .search-bar {
    grid-template-columns: 50px auto 50px;
    .type-something {
      display: none;
    }
    select {
      display: none;
    }
    .background-chooser {
      display: none;
    }
    .list-grid-chooser {
      display: none;
    }
  }
  .fontcards {
    grid-template-columns: 1fr;
  }
  .fontcard {
    min-height: 190px;
  }
}

@media only screen and (max-height: 700px) {
  .to-top {
    bottom: 22px;
  }
}
