* {
  padding: 0;
  margin: 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

html {
  scroll-behavior: smooth;
}

.google-fonts-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.google-fonts-title h1 {
  font-size: 22px;
  font-weight: normal;
  opacity: 0.8;
}

.google-fonts-title .google-logo {
  width: 74px;
  height: 24px;
  position: relative;
  bottom: -1px;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 64px;
  border-bottom: solid 1px #adadad;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-left: 70px;
  padding-right: 50px;
  position: relative;
  margin-bottom: 30px;
}

header nav .fa-navicon {
  position: absolute;
  left: 24px;
  top: 18px;
  cursor: pointer;
  font-size: 23px;
  display: none;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  line-height: 64px;
}

header nav ul li {
  margin-left: 20px;
  margin-right: 20px;
  font-weight: bold;
  opacity: 0.8;
}

header nav ul li a {
  text-decoration: none;
}

.side-drawer {
  height: 100vh;
  width: 300px;
  max-width: 80%;
  position: fixed;
  top: 0;
  left: 0;
  border-right: white solid 1px;
  z-index: 200;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
}

.side-drawer .google-fonts-title {
  margin-top: 18px;
  margin-bottom: 12px;
  margin-left: 20px;
}

.side-drawer .google-fonts-title h1 {
  position: relative;
  bottom: 1px;
}

.side-drawer ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 10px;
  margin-left: 20px;
}

.side-drawer .fa {
  font-size: 24px;
}

.side-drawer a {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 30px 100px;
      grid-template-columns: 30px 100px;
  grid-column-gap: 20px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 15px 0;
  text-decoration: none;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 100;
  background: rgba(0, 0, 0, 0.3);
}

.search-bar-container {
  max-width: 1600px;
  margin: 0 auto;
  z-index: 50;
}

.sticky-search-bar {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  border-bottom: solid 1px #adadad;
  -webkit-box-shadow: 1px 1px 2px #adadad;
          box-shadow: 1px 1px 2px #adadad;
}

.search-bar {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50px 2fr 2fr 150px 50px 50px 50px;
      grid-template-columns: 50px 2fr 2fr 150px 50px 50px 50px;
  place-items: center;
  height: 43px;
  width: 90%;
  margin: 0px auto;
  padding: 0;
  border: solid #adadad 1px;
  border-radius: 30px;
}

.search-bar input {
  width: 100%;
  height: 100%;
  border: none;
  border-right: solid #adadad 1px;
  padding-left: 10px;
}

.search-bar select {
  border: none;
  height: 100%;
  width: 100%;
  padding-left: 10px;
  border-right: solid #adadad 1px;
  cursor: pointer;
}

.search-bar .background-chooser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-right: solid #adadad 1px;
}

.search-bar .background-chooser .fa-circle {
  font-size: 25px;
}

.search-bar .list-grid-chooser {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  border-right: solid #adadad 1px;
}

.search-bar .fa {
  font-size: 22px;
}

.search-bar .fa:hover {
  cursor: pointer;
  opacity: 0.7;
}

.search-bar .fa-search:hover {
  cursor: auto;
}

@-webkit-keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opacity-in {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.fontcards-container {
  max-width: 1600px;
  margin: 30px auto 200px auto;
}

.sticky-fontcards {
  position: relative;
  top: 75px;
}

.fontcards {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-column-gap: 40px;
  grid-row-gap: 50px;
  width: 90%;
  margin: 0px auto 30px auto;
}

.fontcard {
  border-top: #adadad solid 1px;
  width: 100%;
  min-height: 200px;
  padding: 15px 5px;
  -webkit-animation: opacity-in 0.5s ease-in;
          animation: opacity-in 0.5s ease-in;
  overflow: hidden;
  word-wrap: break-word;
}

.fontcard .font-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 15px;
}

.fontcard .fa {
  color: #ff5656;
  font-size: 22px;
  cursor: pointer;
}

.to-top {
  height: 55px;
  width: 55px;
  position: fixed;
  left: 80px;
  bottom: 80px;
  border: solid #d6d6d6 1px;
  border-radius: 50%;
  -webkit-box-shadow: 2px 2px 5px #adadad;
          box-shadow: 2px 2px 5px #adadad;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: white;
}

.to-top:hover {
  cursor: pointer;
  background: #d6d6d6;
}

.to-top .fa {
  font-size: 30px;
  color: #5f5f5f;
}

footer {
  text-align: center;
  font-size: 14px;
  background: white;
  padding-top: 2px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 150;
}

footer a {
  color: #ff5656;
}

footer a:visited {
  color: #ff5656;
}

.bottom-drawer {
  position: fixed;
  bottom: 0;
  right: 30px;
  width: 600px;
  background: white;
  -webkit-transition: -webkit-transform 0.3s ease-out;
  transition: -webkit-transform 0.3s ease-out;
  transition: transform 0.3s ease-out;
  transition: transform 0.3s ease-out, -webkit-transform 0.3s ease-out;
  z-index: 100;
}

.bottom-drawer .bottom-drawer-head {
  height: 50px;
  background: #383838;
  color: white;
  line-height: 50px;
  padding-left: 20px;
}

.bottom-drawer .bottom-drawer-main {
  position: relative;
  padding: 10px 20px;
  height: 290px;
  overflow: auto;
}

.bottom-drawer .clear-all-fonts {
  cursor: pointer;
  position: absolute;
  top: 11px;
  left: 160px;
  color: #ff5656;
}

.bottom-drawer .fa-minus-circle {
  cursor: pointer;
  color: #ff5656;
}

.bottom-drawer .code {
  padding: 11px;
  margin-bottom: 30px;
  background: rgba(0, 0, 0, 0.08);
  word-break: break-all;
  font-family: "Roboto Mono", monospace;
}

.font-tags {
  margin: 5px 0 10px 0;
}

.font-tag {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 30px;
  margin: 3px 10px 3px 0;
  padding: 0 15px;
  background: rgba(0, 0, 0, 0.08);
  border-radius: 20px;
}

.font-tag p {
  margin-right: 5px;
}

.font-tag .fa {
  font-size: 18px;
}

@media only screen and (max-width: 1600px) {
  .fontcards {
    -ms-grid-columns: 1fr 1fr 1fr;
        grid-template-columns: 1fr 1fr 1fr;
  }
}

@media only screen and (max-width: 1280px) {
  .search-bar {
    -ms-grid-columns: 50px 2fr 2fr 70px 50px 50px 50px;
        grid-template-columns: 50px 2fr 2fr 70px 50px 50px 50px;
  }
  .fontcards {
    -ms-grid-columns: 1fr 1fr;
        grid-template-columns: 1fr 1fr;
  }
  .fa-navicon {
    display: none;
  }
  .to-top {
    left: 22px;
  }
}

@media only screen and (max-width: 1036px) {
  header nav .fa-navicon {
    display: block;
  }
  header nav ul {
    display: none;
  }
}

@media only screen and (max-width: 660px) {
  .search-bar {
    -ms-grid-columns: 50px auto 50px;
        grid-template-columns: 50px auto 50px;
  }
  .search-bar .type-something {
    display: none;
  }
  .search-bar select {
    display: none;
  }
  .search-bar .background-chooser {
    display: none;
  }
  .search-bar .list-grid-chooser {
    display: none;
  }
  .fontcards {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .fontcard {
    min-height: 190px;
  }
  .bottom-drawer {
    width: 100%;
    left: 0;
    right: 0;
  }
}

@media only screen and (max-height: 700px) {
  .to-top {
    bottom: 22px;
  }
}
/*# sourceMappingURL=app.css.map */